{% if description %}
[Unit]
Description={{ description }}
{% endif %}

[Service]
Type=simple
ExecStart={{ command }}
{% if user %}
User={{ user }}
{% endif %}
{% if group %}
Group={{ group }}
{% endif %}
Restart={{ restart }}
WorkingDirectory={{ working_directory }}
{% if environment %}
    {% for kvpair in environment %}
Environment={{ kvpair }}
    {% endfor %}
{% endif %}

[Install]
WantedBy=multi-user.target